body {
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
    text-align: center;
    background-color: #FFE548;
}

footer, a {
    font-size: 20px;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: #FFE548;
    margin: 10px;
}

button:hover {
    outline: black 10px solid;
    background-color: black;
}